.htaccess
license.txt
readme.rst
!.gitignore
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
*/config/development
*/logs/log-*.php
!*/logs/index.html
system
user_guide
application/.htaccess
application/config/config.php
application/config/database.php
